In [1]:
a=2
print(id(a))

8791178261360

In [3]:
b=2
id(b)

8791178261360

In [4]:
type(b)

int

******* IMPORTANT ********

In [7]:
a= 2+5j
isinstance(a,complex)

True

In [12]:
a= True
type(a)
isinstance(a,bool)

True

# string

In [16]:
a= "sarim chaudhary"
a[len(a)-2]

'r'

In [17]:
a= "sarim chaudhary"
a[len(a)-1]

'y'

# tuple() are immutable unlike list[] which are mutable

In [26]:
a= ("sarim",4,5)

In [27]:
a[1] = 4

TypeError: 'tuple' object does not support item assignment

# set{}  are unordered mean can't do indexing

In [32]:
a ={1,1,2,4,4,4,4,2,3,"sarim"}
a

{1, 2, 3, 4, 'sarim'}

SyntaxError: invalid syntax (<ipython-input-30-232b3f6e9a88>, line 1)

# dictionary - unordered key value pair

In [36]:
a={"a":2,"b":"sarim chauhdhary"}
a
print(a)

print(a["b"])

{'a': 2, 'b': 'sarim chauhdhary'}
sarim chauhdhary

# conversion to string and from must contain compitable values

In [37]:
int("10")

10

In [39]:
int("10a")

ValueError: invalid literal for int() with base 10: '10a'

In [40]:
s="sarim"
a=10
print("My name is "+s+"my number is "+str(a))

My name is sarimmy number is 10